<header class=''>
  <div id='home' class='container'>
    <h1>Gallery's Tsygankova</h1>
    <nav>
      <ul class='flex-box'>
        <a href='#home'><li>Home</li></a>
      </ul>
    </nav>
  </div>
</header>