<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Gallery</title>
    <link rel="stylesheet" href="css/gallery.css" type="text/css" </head>
</head>

<body>
    <form method="POST" action="/purchase">
        {{>header}}
        <section class="boxImg" name="pursh">

            <img src="/images/{{data.current}}" alt=" NO IMAGE" class="imageLit" >
            <h3>Name: <span class="bold">{{data.descriptionCurrent}}</span></h3>
            <h5>Price: <span class="bold">{{data.priceCurrent}}</span></h5>
            <input class="btn btn-primary input-btn" type="submit" name="buy" value="Buy" id="buttonK"></input>
            <button class="btn btn-primary" type="button" onclick="myFunction()">Cancel</button>
        </section>

    </form>

</body>
<script>
    function myFunction() {
        alert('Maybe next time!');
        window.location = '/gallery';
    }
</script>

</html>